.reddit-data-display {
  @import "sub-reddits";
  @import "modal";

  //Overwriting default CSS
  .spinner-border {
    width: 5rem;
    height: 5rem;
    margin-top: 30px;
  }
  .list-group-item {
    :hover {
      cursor: pointer;
    }
    margin-bottom: 2px;
  }

 .input-control-no-border{
  border-color:#ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
 }

 .input-control-add-border:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
} 

  //CSS for pagination component
  .pagination {
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .pagination a.active {
    background-color: #007bff;
    color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }

  .center-align {
    display: flex;
    justify-content: center;
  }

  .posts-container {
    margin-top: 15px;
  }
  .empty-results {
    margin-top: 20px;
    display: flex;
  }
}
